In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Cultural Dimension of Food Consumption**

In [ ]:
df = pd.read_csv('/content/DATASET_cultural dimension of food consumption.xlsx - Sheet12.csv')

In [ ]:
df.head()

,(A1) CITY,(A2) PROVINCE,(B3) GENDER,(B4) AGE,(B5) RELIGION,(B6) ETHNIC,(B7) EDUCATION LEVEL,(B8) LIVED IN URBAN AREA (YEARS),(B9) OCCUPATION,(B10) SOCIAL CLAS,...,(E19) RELIGIOUS VALUE IN EATING PLACES,(E20) RELIGIOUS VALUE IN CONSUMPTION PATTERN,(E21) CUSTOM VALUE IN TYPE OF FOOD,(E22) CUSTOM VALUE IN EATING PLACES,(E23) CUSTOM VALUE IN CONSUMPTION PATTERN,(24) PRACTICE OF FOOD CONSUMPTION BASED ON RELIGIOUS RULES,(25) PRACTICE OF FOOD CONSUMPTION BASED ON CUSTOM RULES,(E26) BUYING FOOD PRODUCT IN THE RIGHT PLACE BASED ON RELIGIOUS RULES,(E27 TYPE OF DISHES VARIATION BASED ON RELIGIOUS RULES,(E28) PRACTICE OF CONSUMING TRADITIONAL FOOD
0,Jakarta,DKI Jakarta,Female,31,Islam,Java,Senior High School,31,Private Employees,Lower Class,...,Neither agree nor disagree,Agree,Strongly Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Disagree,Neither agree nor disagree,Agree,Agree
1,Jakarta,DKI Jakarta,Female,36,Islam,Java,Bachelor degree,32,Private Employees,Lower Class,...,Agree,Agree,Strongly Agree,Agree,Agree,Disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Strongly Agree
2,Jakarta,DKI Jakarta,Male,24,Islam,Java,Senior High School,24,Private Employees,Middle Class,...,Agree,Neither agree nor disagree,Neither agree nor disagree,Disagree,Agree,Disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree
3,Jakarta,DKI Jakarta,Female,63,Islam,Other,Senior High School,32,Private Employees,Lower Class,...,Agree,Neither agree nor disagree,Agree,Neither agree nor disagree,Agree,Agree,Neither agree nor disagree,Disagree,Neither agree nor disagree,Agree
4,Jakarta,DKI Jakarta,Male,43,Protestant,Batak,Primary School,43,Government Employees,Lower Class,...,Strongly Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Strongly Agree,Strongly Agree,Agree,Disagree,Agree,Agree

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 28 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   (A1) CITY                                                              710 non-null    object
 1   (A2) PROVINCE                                                          710 non-null    object
 2   (B3) GENDER                                                            710 non-null    object
 3   (B4) AGE                                                               710 non-null    int64
 4   (B5) RELIGION                                                          710 non-null    object
 5   (B6) ETHNIC                                                            710 non-null    object
 6   (B7) EDUCATION LEVEL                                                   710 non-null    object
 7   (B8) LIVED IN URBAN AREA (YEARS)                                       710 non-null    int64
 8   (B9) OCCUPATION                                                        710 non-null    object
 9   (B10) SOCIAL CLAS                                                      710 non-null    object
 10  (B11) HOUSEHOLD MEMBER                                                 710 non-null    int64
 11  (C12) HOUSEHOLD INCOME (MONTHLY IN MILLION IDR)                        710 non-null    object
 12  (C13) TIME OF INCOME RECEIPT                                           710 non-null    object
 13  (C14) HOUSEHOLD EXPENDITURE (MONTHLY IN MILLION IDR)                   710 non-null    object
 14  (C15) % MONTHLY EXPENDITURE FOR FOOD                                   710 non-null    int64
 15  (D16) HEALTH FACTOR                                                    710 non-null    object
 16  (D17) PRICE FACTOR)                                                    710 non-null    object
 17  (E18) RELIGIOUS VALUE IN TYPE OF FOOD                                  710 non-null    object
 18  (E19) RELIGIOUS VALUE IN EATING PLACES                                 710 non-null    object
 19  (E20) RELIGIOUS VALUE IN CONSUMPTION PATTERN                           710 non-null    object
 20  (E21) CUSTOM VALUE IN TYPE OF FOOD                                     710 non-null    object
 21  (E22) CUSTOM VALUE IN EATING PLACES                                    710 non-null    object
 22  (E23) CUSTOM VALUE IN CONSUMPTION PATTERN                              710 non-null    object
 23  (24) PRACTICE OF FOOD CONSUMPTION BASED ON RELIGIOUS RULES             710 non-null    object
 24  (25) PRACTICE OF FOOD CONSUMPTION BASED ON CUSTOM RULES                710 non-null    object
 25  (E26) BUYING FOOD PRODUCT IN THE RIGHT PLACE BASED ON RELIGIOUS RULES  710 non-null    object
 26  (E27 TYPE OF DISHES VARIATION BASED ON RELIGIOUS RULES                 710 non-null    object
 27  (E28) PRACTICE OF CONSUMING TRADITIONAL FOOD                           710 non-null    object
dtypes: int64(4), object(24)
memory usage: 155.4+ KB

In [ ]:
df['(C14) HOUSEHOLD EXPENDITURE (MONTHLY IN MILLION IDR)'].tail()

704     5:09
705     6:07
706    10:09
707     3:09
708     9:06
Name: (C14) HOUSEHOLD EXPENDITURE (MONTHLY IN MILLION IDR), dtype: object

In [ ]:
df.describe()

,(B4) AGE,(B8) LIVED IN URBAN AREA (YEARS),(B11) HOUSEHOLD MEMBER,(C15) % MONTHLY EXPENDITURE FOR FOOD
count,710.000000,710.000000,710.000000,710.000000
mean,41.308451,28.645070,6.022535,42.992958
std,11.948966,8.967781,0.673537,17.057811
min,22.000000,6.000000,5.000000,18.000000
25%,31.000000,23.000000,6.000000,26.000000
50%,39.000000,29.000000,6.000000,41.000000
75%,52.000000,34.000000,6.000000,58.000000
max,65.000000,63.000000,8.000000,76.000000

In [ ]:
num_cols = df.select_dtypes([np.number]).columns
cat_cols = df.select_dtypes('object').columns

### Missing Value

Berdasarkan df.info() pada section EDA, tidak terdapat missing value pada data train

### Resolve inconsistencies

In [ ]:
for i in cat_cols:
	print("{}: {}".format(i, df[i].unique()))

(A1) CITY: ['Jakarta' 'Bandung' 'Surabaya' 'Makasar' 'Denpasar']
(A2) PROVINCE: ['DKI Jakarta' 'West Java' 'East Java' 'South Sulawesi' 'Bali']
(B3) GENDER: ['Female' 'Male']
(B5) RELIGION: ['Islam' 'Protestant' 'Catholic' 'Hindu' 'Budha' 'Other']
(B6) ETHNIC: ['Java' 'Other' 'Batak' 'Bugis' 'Sunda' 'Madura' 'Minang' 'Bali']
(B7) EDUCATION LEVEL: ['Senior High School' 'Bachelor degree' 'Primary School'
 'Master and doctoral degree' 'Diploma' 'Junior High School']
(B9) OCCUPATION: ['Private Employees' 'Government Employees' 'Enterpreneur'
 'Teacher\u200e/Lecturer' 'Police Officer\u200e/Army' 'Independent Worker']
(B10) SOCIAL CLAS: ['Lower Class' 'Middle Class' 'Upper Class']
(C12) HOUSEHOLD INCOME (MONTHLY IN MILLION IDR): ['3:08' '4:02' '5:08' '3:01' '3:04' '4:01' '13:00' '3:02' '10:03' '14:02'
 '2:03' '5:09' '11:04' '3:00' '15:07' '13:02' '6:08' '4:08' '2:09' '3:05'
 '5:07' '11:03' '2:07' '10:01' '12:05' '6:02' '6:04' '3:07' '6:07' '10:09'
 '3:09' '9:08' '9:06' '3:06' '5:06' '11:02' '10:06' '12:01' '4:09']
(C13) TIME OF INCOME RECEIPT: ['Daily' 'Weekly' 'Monthly']
(C14) HOUSEHOLD EXPENDITURE (MONTHLY IN MILLION IDR): ['3:02' '4:01' '5:05' '2:08' '3:01' '5:03' '11:08' '2:06' '10:00' '13:09'
 '4:04' '5:04' '1:09' '4:05' '11:00' '15:03' '12:08' '6:05' '2:03' '9:07'
 '12:01' '5:08' '6:00' '3:03' '6:03' '10:05' '3:05' '9:04' '9:02' '3:00'
 '2:05' '5:02' '10:08' '10:02' '11:01' '3:07' '6:01' '5:07' '12:00'
 '14:01' '6:06' '2:02' '4:08' '11:03' '2:09' '15:06' '13:01' '2:04' '9:08'
 '12:02' '5:09' '10:09' '3:04' '2:07' '11:07' '9:09' '13:08' '6:07' '4:07'
 '5:06' '11:02' '12:04' '3:06' '3:08' '9:05' '10:03' '6:04' '2:00' '4:06'
 '15:04' '12:09' '10:06' '6:09' '5:01' '11:06' '15:09' '13:04' '7:00'
 '5:00' '11:05' '12:07' '3:09' '10:07' '10:04' '14:03' '6:08' '15:08'
 '13:03' '4:09' '6:02' '9:06']
(D16) HEALTH FACTOR: ['Disagree' 'Neither agree nor disagree' 'Strongly Disagree' 'Agree'
 'Strongly Agree']
(D17) PRICE FACTOR): ['Agree' 'Strongly Agree' 'Disagree' 'Strongly Disagree'
 'Neither agree nor disagree']
(E18) RELIGIOUS VALUE IN TYPE OF FOOD: ['Strongly Agree' 'Neither agree nor disagree' 'Agree' 'Disagree'
 'Strongly Disagree']
(E19) RELIGIOUS VALUE IN EATING PLACES: ['Neither agree nor disagree' 'Agree' 'Strongly Agree' 'Disagree']
(E20) RELIGIOUS VALUE IN CONSUMPTION PATTERN: ['Agree' 'Neither agree nor disagree' 'Strongly Agree' 'Disagree']
(E21) CUSTOM VALUE IN TYPE OF FOOD: ['Strongly Agree' 'Neither agree nor disagree' 'Agree' 'Disagree']
(E22) CUSTOM VALUE IN EATING PLACES: ['Neither agree nor disagree' 'Agree' 'Disagree' 'Strongly Agree']
(E23) CUSTOM VALUE IN CONSUMPTION PATTERN: ['Neither agree nor disagree' 'Agree' 'Strongly Agree' 'Disagree']
(24) PRACTICE OF FOOD CONSUMPTION BASED ON RELIGIOUS RULES: ['Neither agree nor disagree' 'Disagree' 'Agree' 'Strongly Agree']
(25) PRACTICE OF FOOD CONSUMPTION BASED ON CUSTOM RULES: ['Disagree' 'Neither agree nor disagree' 'Agree' 'Strongly Agree']
(E26) BUYING FOOD PRODUCT IN THE RIGHT PLACE BASED ON RELIGIOUS RULES: ['Neither agree nor disagree' 'Disagree' 'Agree' 'Strongly Agree']
(E27 TYPE OF DISHES VARIATION BASED ON RELIGIOUS RULES: ['Agree' 'Neither agree nor disagree' 'Strongly Agree' 'Disagree']
(E28) PRACTICE OF CONSUMING TRADITIONAL FOOD: ['Agree' 'Strongly Agree' 'Neither agree nor disagree' 'Disagree']

### Delete duplicate

In [ ]:
# cek data duplikat
df.duplicated().sum()

0

Tidak ada data duplikat

## Detect Outliers

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    low_limit = Q1 - (IQR * 1.5)
    high_limit = Q3 + (IQR * 1.5)

    filtered_entries = ((df[col] >= low_limit) & (df[col] <= high_limit)) & filtered_entries
    
df = df[filtered_entries]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 710
Jumlah baris setelah memfilter outlier: 419

# **GoFood**

In [ ]:
df2 = pd.read_csv('/content/gofood_dataset.csv')

In [ ]:
df2.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45195 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   45195 non-null  object
 1   merchant_area   45195 non-null  object
 2   category        45195 non-null  object
 3   display         45195 non-null  object
 4   product         45195 non-null  object
 5   price           45195 non-null  float64
 6   discount_price  2738 non-null   float64
 7   isDiscount      45195 non-null  int64
 8   description     21720 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [ ]:
df2.describe()

              price  discount_price    isDiscount
count  4.519500e+04     2738.000000  45195.000000
mean   4.387851e+04    46382.973703      0.060582
std    9.317646e+04    42402.786836      0.238564
min    1.000000e+00     3500.000000      0.000000
25%    1.500000e+04    18000.000000      0.000000
50%    2.400000e+04    33175.000000      0.000000
75%    4.250000e+04    59975.000000      0.000000
max    1.980000e+06   355500.000000      1.000000

### Missing Value

In [ ]:
df2['discount_price'] = df2['discount_price'].fillna(0)
df2.drop(['description'], axis = 1, inplace=True)

In [ ]:
df2.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,0.0,0
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,0.0,0
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,0.0,0
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,0.0,0
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,0.0,0

In [ ]:
num_cols = df2.select_dtypes([np.number]).columns
cat_cols = df2.select_dtypes('object').columns

### Resolve inconsistencies

In [ ]:
for i in cat_cols:
	print("{}: {}".format(i, df2[i].unique()))

merchant_name: ['330 Kopi, Ciledug' 'Abe Steak, Cibubur' 'Abuba Steak, Cikarang'
 'Aneka Gorengan Siaga' 'Arangsimpur' 'Ayam Trolok' 'BABAKARAN BUNDA DAFA'
 'Bakerman, SCBD' 'Bakmi Kun' 'Bakmi Lopui 93' 'Bakso Titoti, Parung'
 'Banzai!, Bogor Utara' 'Sosis Bakar By Basis.Kuy, Intercon'
 'Bebek Boedjang, BSD' 'Boonsikdang, Hublife Jakarta'
 'Bunga Bakery, Cibinong' 'Bunga Bakery, Depok' 'Burger Bros, Bintaro'
 'Burger Bros, Ciledug' 'Burger Naura' 'C7HomeCoffee' 'Cafe OTSS'
 'Cake Pandeglang Cake' 'Chateraise, Senayan City' 'CIATER BEACH'
 'Cimory Condet, Balekambang' 'Cinepolis, Pondok Kelapa' 'Coffee First'
 'Corndog Doona, Pinang' 'Corndog Mozarella' 'Cotta Coffee, Jatiwaringin'
 'Crackling' 'Dapur Aliqa, Gembong' 'Dapur Cokelat, Cibubur'
 'Dapur Cokelat, Ciputat' 'Dapur Cokelat, Ciracas' 'Dapur Cokelat, Depok'
 'Dear Butter, Pakubuwono' 'Dough Lab, Senopati' 'DuriAnd, Bogor'
 'Emados Shawarma, Condet' 'Emados Shawarma, Depok' 'Faasos, Bintaro'
 'Faasos, Blok M' 'FamilyMart, Sequis Tower' 'farm.girl, SCBD'
 'FlapnJac, Setiabudi Barat' 'Fore Coffee, Jatiwaringin'
 'Gelato House Cafe ' 'Genkaya, Pabuaran' 'Geprek Bensu, Karawang'
 "Gianni's Pizzeria" 'Golden Lamian, Jatiwaringin' 'GoSteak, Tj Priok'
 'Greenly, Senopati' 'Groen Kopi' 'GUREE, Senopati' 'Hatchi'
 'have a treat' 'Hedon Cafe, Sukatani' 'Hey Kafe, Cipondoh'
 'Hey Kafe, Jatiwaringin' 'Hoghock, Greenlake City' 'HokBen, Bogor Yasmin'
 'HokBen, Kitchen Otista' 'Holland Bakery, Ciomas'
 'Holywings Backyard, Kemang' 'ITAEWON CLASS' 'JACK DONUT'
 'Jakarta Cheese Factory' 'Kaka Udon' 'KAMPUNG TELAGA,  Ciracas'
 'Kancha, Duri Kosambi' 'Kebab Asap, Sunter' 'Kebab Bosman, Ciputat'
 'Kebab Bosman, Gandul' 'Kebab Lumer' 'Kebab Ngidam, Meruya'
 'Kebon Samping, Cibinong' 'Kebuli Jordan, Permata' 'Kedai Coger Senayan'
 'Kedai Santai' 'Keikpop, Ciledug' 'Keikpop, Ciputat'
 'Keikpop, Harapan Indah' 'Keikpop, Kebon Jeruk' 'Keikpop, Mangga Besar'
 'Keikpop, Pajajaran Bogor' 'Keikpop, Radio Dalam' 'Kembang Bawang PIK'
 'Kemek Nyok' 'Kenduricoffee, Patal Senayan' 'KFC, Bintaro 9'
 'KFC, Ciputat Gaplek' 'KFC, Kemang Timur' 'KFC, Lokasari Plaza'
 'KFC, Tugu Puncak' 'Khasanah Sari Citayam' 'Kibo Cheese, Cibubur'
 'Kims Topokki, Bintara' 'Klenger Burger, Benhil' 'Kopi Chuseyo, Sukasari'
 'Kopi Dari Hati, Jatibening' 'Kopi Kebun Bintaro' 'Kopi Nako Ciracas'
 'KOPINYA KIMBOO' 'Koteshu, Sukahati' 'Lawless Burgerbar, PIK'
 'Lawless, Capsule Cibubur' 'Lawson, Akses UI' 'Lawson, Cempaka Mas'
 'Lawson, Cipete Raya' 'Lawson, Kemang Raya' 'Lawson, Percetakan Negara'
 'Lawson, Sunter Kirana' 'Lawson, Syahdan' 'Lawson, UIN Kertamukti'
 'LEPAS KOPI' 'Longpan Pizza, Tugu' 'MAB Toppoki, Jengki' 'Mad Bagel, BSD'
 'MAISON BUTTER' 'Makema Coffee' 'Markobar, Duren Sawit' 'Martabak Acc'
 'Martabak Djuara, Cawang' 'martabak mapingkot' 'Maza Gelato, Bintaro'
 "McDonald's, Jatiwarna" "McDonald's, Panjang" "McDonald's, Pekayon"
 "McDonald's, Tambak" 'Menantea, Epicentrum Walk' 'Menantea, Jatiwaringin'
 'Menantea, Pamulang Tangerang' 'Menantea, Panglima Polim'
 'Menantea, Pemda Cibinong' 'Menantea, Tangcity' 'Menantea, Tanjung Duren'
 'Michelle Bakery, Cimanggis' 'Mie Aceh Abunawas ' 'Mie Ayam Jiddah'
 'Mie Djoedes, Mojosari' 'Mixue, Benhil' 'MIXUE CIKARANG'
 'Mixue, Harapan Indah' 'Mixue Summarecon Serpong' 'Moeda Coffee'
 'Moida , Gramapuri Persada' 'Mokat, Megamendung' 'Mujigae, Aren Jaya'
 'Murabae Bento, Palmerah' 'Niat NGOPI, Kalimalang' 'Oguri Artisanal Cafe'
 'Ottoke Kape' 'Pancong Lumer' 'Pancong Pijay' 'Panties Pizza, Pamulang'
 'Pentol Seafood Korea, Pengantin Ali' 'Pita Cappucino Cincau'
 'Podomoro Bakso, Cibubur' 'Potato Potter, Pramuka'
 'Raindrunks, Bogor Timur' 'Ramen Giant, Bogor' 'Resto Ayam Najeb'
 'Restoran Sederhana, Ampera' 'Restoran Sederhana, Caman'
 'Restoran, Telaga Sindur' 'Rumah Pasta WiB' 'Sate Rembiga Racaca'
 'Seblak, Cibinong' 'Seblak Nova, Cimanggis' 'Segilima Cafe'
 'Sei dalam Bambu' 'Seung Toppoki' 'Shabu Idasuki, Cikarang'
 'Shihlin Ciputra Cibubur' 'Slice Cake, Jagakarsa'
 'Sliced Pizzeria, Bintaro' 'Sosis Bakar Gangan'
 'Starbucks, Sudirman Bogor' 'Steaky Steak Cikarang'
 'SUMOYAKI, PADEMANGAN' 'Sunday Fat Bowl' 'Sushi Me, Slipi'
 'SYMAXTY NINE COFFEE' 'Takana Coffee, Rawamangun' 'Tao Cafe' 'Tettakopi '
 'The Acre, Menteng' 'The Garrison, Kemang' 'Toko Kopi Bacarita'
 'Toko Pizza, Limo' 'Tokyo Town Cafe' 'Tomokofi, Cileungsi'
 'Traffic Bun, Benhil' 'Traffic Bun, Buaran' 'Wahaha, Kelapa Gading'
 'Wanfan, Gunung Sahari' 'Warung Babe' 'Warung Corndog, Sukaraja'
 'Warung Jamet' 'XIBOBA, Bangbarung' 'Xi Bo Ba, Ramayana Cileungsi'
 'XIBOBA, Ramayana Parung' 'XIBOBA, Summarecon Bekasi' 'XO sushi Tebet '
 'XXI Cafe, PGC' "Ya'mbok, Jatimelati" 'AHAN CHASIOPUI' 'Ahmeds Kitchen'
 'Airo Kitchen' 'Amanda Brownies, Sunggal' 'Arkana Cafe, Tuasan'
 'Aromora Cafe, Medan Tembung' 'Assalam Resto' 'Baboi'
 'Baked Well, Petula' 'Bakmie Kembar Manurung' 'Bakmie Sedap Siantar'
 'Bakso Anggrek, Marelan' 'Bakso Bakar Hot ' 'Bakso Bola, STM'
 'Bakso Solo Kraton' 'Basecamp Coffee, Medan Sunggal'
 'Besty Cemilan, Kapten Sumarsono' 'Bihun Ikan Hongkong' 'Bika Ambon Ati'
 'Bika Ambon Zulaikha' 'Boca, Dr Mansyur' 'Bolen Quemami Bakery'
 'Bolu Susu Berastagi' 'Bou Bobalicious' 'Breadpop Medan'
 'Brownies for ANGEL' 'BS Coffee, Halat' 'Bukit Kopi, Jurung'
 'Burger Bros, Medan Maimun' 'Burger Gendon' 'Burger King, Ring Road'
 'Cafe City, Thamrin' 'Calmante, Cemara' 'Cemilan Kenangan Tembung'
 'Cemilan Snack Medan' "Cent's, Sumatera" 'CGV, Focal Point'
 'Chatime, Binjai Supermall' 'Chicken Crush, Delitua'
 'Chicken Crush, Gaperta' 'Chicken Crush, Tuasan' 'Chicken Inc, Medan'
 'Choco Bakery, Karya' 'Choco Bakery, Marelan' ' Clouds Coffee'
 'Copa Coffee' 'Corndog Mozarella Bites' 'Dapoer Sedap Wangi'
 'Dapurnyonyabinjai, Binjai Timur' "D'Conrad, Mojopahit"
 'Dcrepes, Ruko Setia Budi' 'Dear Butter' 'DeFroggy' 'Depan Gang Coffee'
 'Dooduck, Thamrin Plaza' "Dunkin' Donuts, Ringroad" 'Durian House, Sekip'
 'Eatboss, Ring Road' 'Eat Toast, Medan' 'Ejaz Biryani ' 'FatFoodMeli'
 'France Bakery, Bambu' 'Fritto Chicken, Sudarso' 'Fritto Chicken, TVRI'
 'Garis Cafe' 'Gocha Gocha' 'Gorengan Bu Aidah' 'Grand Liberty Restaurant'
 'Great Cafe Medan, Katamso' 'Guzva Coffee & Resto'
 'Heysteak, Medan Johor' 'Hoffen milk bar' 'Hola Crabs, Abadi'
 'Holywings, Medan' 'Hot Buns Bakery' 'HRD COFFEE SHOP'
 'Hungrypedia Mustika' 'i CLAZ' 'IO.INOUT' 'Istanbul Kebab' 'JAMU RAHMAN'
 'Jelly Potter, Sikambing' 'Joglo Sewu Roso' 'Jp Coffee'
 'K3 Mart, Ayahanda' 'K3 Mart, Sumatera' 'Kabayan Seafood Bandung'
 'Kai Xing Pao' 'Kantor Kupie, Stabat' 'Kedai Kopi Kulo, Setiabudi'
 'Kedans, Stabat' 'KENZO BOBA' 'Kerang Pink' 'Kerang Rebus Sumatra '
 'KFC, Home Centra' 'KFC, Marelan Raya Medan' 'KFC, Medan Fair'
 'KFC, Suzuya Medan' 'Killiney, DI Panjaitan' 'Koboi Cafe, Bromo'
 'Kokumi, Sun Plaza' 'Kopi Broo, STM' 'Kopi Garasi Tua'
 'Kopi Sadis, Tembung' 'Kopi Yor, Medan' 'Koppitomi Coffee 2'
 'LImasari, S. Parman' 'Lina Cafe, Tembung' 'Locabite Burgerbox Johor'
 'Lontong Stasiun' 'Luigi Gelato, S Parman' 'Marina Bay Seafood'
 'Martabak Bollywood Medan' 'Martabak Djuara, Pulo Brayan'
 "McDonald's, Binjai" 'Meja Coffee & Space' 'Menantea, Ringroad Medan'
 'Mie Aceh Jal' 'Mie Balap Seafood 77' 'Monokrom Binjai'
 'Moo Ngemil Corndog, Marelan 5' 'Mr. Prawns' 'Muda Burgerbar, Binjai'
 'MY Drink 21 ' 'Nasgor Tiarbah' 'Nomi, Multatuli' 'Nongki Square'
 'Odette Vegetarian' 'Offle, Medan Mall' 'OluOlu Korean food'
 'Ome Crepes Johor' 'OPPA OPPA TOKPOKKI' 'Padamu Negeri, Delipark'
 'Pak Tong Kuphi' 'Patbingsoo, Multatuli' 'PECAL BERKAH 89' 'Pia Tamiang'
 'PIPETZ' 'Piutime,  Veteran' 'Pizza Roemah Enak, Stabat'
 'Pokpia 88, Wahidin' 'Pondok Punokawan' 'POST DUA CAFE'
 'POTTE Cafe & All Day Dining, Medan Selayang' 'Pulut Durian Rahmadsyah'
 'PunyaAyee Medan, Cemara' 'Putra Dimsum, Purwo'
 'QiuQiunian, Medan Marelan' 'QiuQiuNian, Medan Marendal'
 'Qiuqiunian, Merci' 'Raihan Bakery, Denai' 'Raihan Bakery, Tembung'
 'Rajanya Taichan, Multatuli' 'Ram Kopi, Merak'
 'Restaurant Miramar, Pemuda' 'Restoran Berjaya, Marelan'
 'Restoran Berjaya, Setiabudi' 'Richeese Factory, Binjai'
 'Ridho Burger, Binjai' 'RM. Jenar' 'Ruang Sarca' 'Rumah Ide Coffee'
 'Salad Buah Tuasan' 'Sari Roti, Sunggal' 'Sate Kuda Sumbawa'
 'Seafood 2000, Krakatau' 'Seafood 88, Sunggal' 'Seger, Tembung'
 'Segi Coffee' 'Sejiwa Cafe, Tuamang' 'Sekata Kopi'
 'Serambi Kuphi, Ksatria' 'Shawarma Sultan, Setiabudi' 'Simhae Medan'
 'Simpost Cafe' 'Siomay Podomoro, Polonia' 'Sippin, Medan Selayang'
 'SIPPIN, MMTC' 'SIPPIN, Tembung' 'Slice Coffee' 'Sobat, Ring Road'
 'SOHA Coffee' 'Starbucks, Multatuli Medan' 'Suans Bakery' 'Sultan Cafe'
 'Sushi Mentai, Medan' 'Sushi Yay, Medan Setiabudi'
 'Tahiti Bakery, Taruma' 'Takoyaki Genki' 'Takoyaki Kansai, Medan'
 'Takoyaki Kansai, Turi' 'TAMAN BAKSO DANGDUT' 'Taman.Co, Medan Tuntungan'
 'Taman Kopi' 'Tamoe Coffee, Medan Polonia' 'Tea Car, Diponegoro'
 'TEH NYAWANG' 'Texas Chicken, Binjai Supermall' 'The Cups, Bandung'
 'Tokebi Binjai, Bengam' 'Wajir Seafood, Sugiono' 'Warung 2R, Ismaliyah'
 'Warung Jivano, Marelan' 'Warung Nyam Nyam, Pasundan'
 'Warung Seblaku, Marelan' 'Warung Teguh' 'Xi Bo Ba, Medan Gaperta'
 'Xiji, Jcity Medan' 'XO Coffee Space' 'YES248, Cemara Asri'
 'YES248, MMTC' 'Zenbu, Sun Plaza' 'Zeribowl, Delipark' 'Zeribowl, J City'
 'Zeribowl, Sun Plaza' '369 Shanghai, Jemursari' 'AHA by Kudos'
 'Aiciro, BG Junction' 'Order Sekaligus - Aiola Canteen Merr'
 'Amalia Cake, Wringinanom' 'Amanda Brownies, Tegalsari'
 'AMPM SDA, Buduran' 'Aneka Bothok, Sukolilo' 'Aneka Seblak Endull'
 'Angkringan Abas Krian' 'Ayam Gacoan,Waru' 'Ayu Frozen Food'
 'Bakso Biru, Sidoarjo' 'Bakso Kenari' 'Bakso Lava' 'Bakso Tutus'
 'BANANESH' 'Bandeng Karimanasi' 'Baraccung, Ambengan' 'BasrenG GonjrenG'
 'bebek canggih' 'Bebek NdoWer' 'BEBEK SIMAYAKHO SURABAYA'
 'Belikopi, Ketintang' 'Belikopi. Ponti' 'BICOPI GUNUNGANYAR'
 'Big Bananas, Siwalankerto' 'Bing-Go, Wiyung' 'Bitten Coffee / Kopi'
 'Bluder Cokro Gwalk' 'Bluder Cokro Sidoarjo' 'Boga Kitchen, Surabaya'
 'Bourda Bakery, Perak' 'Break Cafe, Sedati' 'Buba Caramelized'
 'Bubur Punokawan' 'Burger Bros, Genteng' 'Burger Kalap'
 'Burger King, Sidoarjo' 'Burger Shot, Wiyung' 'Cafelar Coffee & Eatery'
 'Cendrawasih Kopi, Rest Area Aloha' 'Chaophraya, Tegalsari'
 'ChatThai, Rungkut' 'Cheskee, Pakuwon Mall' 'Chi Fry, Wiyung'
 'Cibcib Annyeong, Warkop Seket Limo' 'COCO, Gwalk Citraland'
 'Colours Cafe (CC), Domas' 'Corica, Biliton' 'Cosmic Coffee, Tulangan'
 'Creme Croffle' 'Dailybox, Kutisari' 'Dapur 99, Sedati'
 'Dapur Mama Ketrin' 'Dapur Pancali' "D'BestO, Wonokusumo"
 'Dear Butter, Sidoarjo' 'Depot Bamara, Purwodadi' 'Depot BERKAH JAYA'
 'Depot Kartika, Ketajen' 'Depot Manganokene, Pasar Buah 36'
 'Depot Slamet, Dharmawangsa' 'Depot Slamet, Kedungdoro'
 'Depot Wijaya, Demak' 'DEPOT XIWANG' 'Cemilan Dewa, Pandean'
 'Doe Sun Bakery' 'Donuthing GKB, Manyar' 'Dopota, Pucang' 'Dprapatan'
 'Eat Toast Surabaya' 'Esteh Indonesia, Gwalk' 'Esteh Indonesia, Sidoarjo'
 'Es Teh Indonesia ,Sukolilo' 'Fat Daddy, Sedati' 'Father Kafe'
 'Fire Wok Kitchen' 'Flossy Croffle' 'Fresh Boba, Tandes'
 'Garden Food Festival ' 'Geprek Mms, Gedangan' 'Gildak, Tunjungan'
 'Glek, Ketintang 157' 'Go Kage, Mulyosari' 'Goorengan Indonesia'
 'Greenly, Darmo Permai' 'Gultik Merdeka' 'Gurami Bakar Surabaya'
 'Guri Ramen, Mulyosari' 'Hai Steak House, kingsquare Driyorejo'
 'HALAL BOSS' 'Haus!, Delta Sari' 'Haus!, Manukan' 'Haus!, Siwalankerto'
 'Hayaku Sidoarjo, Citra Harmoni' 'HokBen, Suncity Sidoarjo'
 'Holland Bakery Indrapura' 'Holland Bakery, Thamrin'
 'Holland Bakery, Tropodo' 'Holywings Gold Basra' 'Holywings, Kertajaya'
 'Iconic Jajanan, Sambikerep' 'Ikan Bakar Dewata' 'Ikon'
 'Inna Roti, Jambangan' 'IZZA kitchen' 'Jajan Toast'
 'Jiegwan Penyetan, Candi' 'Jokopi, Dinoyo' 'Jokopi, Gwalk'
 'Joomba, Gwalk' 'Joomba, Manyar Kertoarjo' 'Jus Buah, Umma'
 'KAFE ASIA KRIAN' 'Kampoeng Roti, Manukan' 'Kampoeng Roti, Wiyung'
 'Kampoeng Roti, Wonosari' 'Kampoeng Steak, Rungkut' "K'bon Cafe"
 'Kebab Bosman, Kenjeran' 'Kebab Bosman, Ngagel' 'KEBULI JORDAN SURABAYA'
 'Kedai Budget, Dharmawangsa' 'Kedai Es Juragan' 'Kedai Kopi Kakak'
 'Kedai Mama AL' 'Kedai MAREM JOYO' 'Kedai ReffTwo' 'Kedai Teh Poci'
 'Kedai Toelis, Prambon' 'Keikpop, Bengawan' 'KFC, Gempol City'
 'Kim Boba Sidoarjo & My Croffle, Sidoarjo' 'KIMMIE LOK-LOK'
 'KOKUMI, Tunjungan Plaza' 'KOMOREBI, GWalk Citraland' 'KONOTORI, Manyar'
 'Kopi Baik' 'Kopi Panggang, Manyar'
 'Seblak Dan Mie Ayam Kopi Santai Gkb, Jl Kalimantan 103 Gkb'
 'Lanuli Mocktail' 'Lapis Srikandi' 'Larissa Bakery'
 'Laritta Bakery, Manukan' 'Lazizaa, Kemangsen Krian'
 'Lesehan 8000, Panjunan Raya' 'Lukumades, Pakuwon Mall'
 'Lumpia Pisang Kaget' 'M2M, Mojosari' 'Macaroni Cuck, Siwalankerto'
 'Mafia Gedang' 'Mai Pizza, Mojosari' 'Mak Ciem, Pandaan'
 'Mangkokku, Tenggilis' 'Markas Ranjau, Mojosari' 'MARTABAK CHEF PLUTO'
 'Martabak Hawaii, Gedangan' 'Martabak Hollene, Sawotratap'
 "McDonald's, Merr Surabaya" 'Mejishi Sushi' 'Menantea, Gwalk Surabaya'
 'Menantea, Waru' 'Mie Gacoan, Sidoarjo' 'Mie Gragas Sidoarjo'
 ' Mie Jeder' 'Mie Kane, Mojosari' 'Mie Mapan, Sepanjang'
 'Mie Njerit, Krembung' 'Mimi Donat Kentang' 'Molen Molek, Rungkut'
 'Momoiro, Pakuwon Mall' 'Mr Seafood, Sedati' 'My Bakery' 'Nakama Bento'
 'Ndalem Prabu' 'Ngastina, Bawean' 'Ngasyapp!!, Gress Mall'
 'Ngasyapp!!, Plaza Surabaya' 'Noodle Bar, Mojopahit'
 'Nyayap, Metropolis Tenggilis' 'Pabrik Kopi, Sukomanunggal'
 'PANCONG PANTURA SURABAYA' 'Pancong Pocong, Menganti'
 'Pentol Gilaaa, Rungkut' 'Pentol Gilaaa, Sidoarjo' 'Penyetan Queen'
 'Pizza Mabruk' 'Pizza Place, Tegalsari' 'Pocong Pancong Gayungsari'
 'Pocong Pancong Wage' 'Poke LILY' 'Pomello, Rangkah'
 'Post Kuliner, Mojosari' 'Q5 Steak, Krian' 'Quita Cafe'
 'Raja Bebek, Arjuna' 'Rakoes Mulyorejo' 'Robakus Pahlawan'
 'Rocket Chicken, Gresik' 'Sang Pisang, Surabaya' 'Sari Rasa, Mojosari'
 'Satria Roti, Kartini' 'Satria Roti, Wiyung' 'Seafood Narako, Gubeng'
 'SEBLAK BANDUNG 86' 'SEBLAK BANDUNG NETIZEN' 'Seblak Bundaa, Wonoayu'
 'SEBLAK GACOR' 'Seblak Gobyos, Jemursari' 'Seblak Gobyos, Sedati'
 'Seblak Radja Sukodono' 'Semangkok Rempah' 'SEPASI CAFE, Gayungan'
 'Signora Pasta' 'Sinbad Kebab & Burger' 'Sioke Siobak ADAM'
 'Sistersfood, Purworejo' 'Slea Kitchen' 'Sosis Bakar KN'
 'So Young, Sambikerep' 'Spikoe Lusiana, Rungkut'
 'StepUp Donut, Mulyorejo' 'Street Food, Deltasari' 'Subsidi'
 'Suka Kepiting' 'Sushikun, BG Junction' 'Sushikun, Royal Plaza'
 'Susu Kocok Kita' 'Suweger, Ngelom' 'Suweger, Tropodo' 'Suweger, Wiyung'
 'Tahu Go! Manyar' 'Talk Kopi Kalasan' 'Tea Break, Tambaksari'
 'Tea Break, Tenggilis' 'TEH OCA, Jedong Cangring' 'THESTOCKSHOP'
 "Toby's, Tenggilis" "Toby's, Wiyung" 'Traffic Bun, Bawean'
 'Tritara Coffee, Gubeng' 'Truffle Belly, Gwalk'
 'Truffle Belly Metropolis' 'Warkop 4D Qyuuu' 'WARMINDO CJDW'
 'Waroeng Redjo, Sidoarjo' 'WarPAS, Comunale' 'Warung Barokah, Gubeng'
 'Warung Kongdhe, Bubutan' 'WARUNG MBAKNET' 'Warung Mentok, Gayungsari'
 'Warung Pindo' 'Warung Sego BHS' 'Warung Wader, Pahlawan'
 'Wingstop, Jemursari' 'Wong Soeroboyo, PTC' 'XIBOBA, SDO Gedangan'
 'XIBOBA, Tenggilis Surabaya' 'XIBOBA, Tunjungan Plaza'
 'Yasaka Fried Chicken, Sukolegok' 'Yakini, Krian' 'Zeger!, Sidoarjo']
merchant_area: ['jakarta' 'medan' 'surabaya']
category: ['Kopi/Minuman/Roti' 'Aneka nasi/Minuman/Barat' 'Barat' 'Jajanan/Minuman'
 'Chinese' 'Aneka nasi/Ayam & bebek/Seafood' 'Minuman/Jajanan/Martabak'
 'Roti/Minuman/Jajanan' 'Ayam & bebek/Bakmie/Cepat saji'
 'Bakmie/Chinese/Minuman' 'Bakso & soto/Minuman'
 'Cepat saji/Aneka nasi/Jepang' 'Jajanan/Seafood'
 'Seafood/Aneka nasi/Ayam & bebek' 'Korea/Minuman/Jajanan' 'Roti'
 'Jajanan/Barat/Cepat saji/Ayam & bebek'
 'Ayam & bebek/Jajanan/Barat/Cepat saji'
 'Ayam & bebek/Barat/Minuman/Cepat saji' 'Jajanan/Cepat saji/Bakso & soto'
 'Jajanan/Kopi/Minuman' 'Cepat saji/Kopi/Aneka nasi' 'Jajanan/Kopi'
 'Barat/Seafood/Aneka nasi' 'Minuman/Jajanan/Sweets'
 'Sweets/Minuman/Jajanan' 'Jajanan' 'Minuman/Jajanan/Kopi'
 'Jajanan/Sweets' 'Cepat saji/Kopi/Minuman' 'Aneka nasi/Barat/Cepat saji'
 'Ayam & bebek/Bakso & soto/Jajanan' 'Sweets' 'Sweets/Roti/Minuman'
 'Minuman/Sweets/Roti' 'Sweets/Cepat saji/Roti' 'Sweets/Roti'
 'Jajanan/Sweets/Cepat saji' 'Ayam & bebek/Timur Tengah'
 'India/Jajanan/Timur Tengah'
 'Cepat saji/India/Jajanan/Timur Tengah/Aneka nasi'
 'Kopi/Jajanan/Aneka nasi/Minuman/Ayam & bebek' 'Sweets/Kopi/Barat'
 'Sweets/Jajanan/Roti' 'Kopi/Minuman/Cepat saji'
 'Minuman/Sweets/Cepat saji' 'Ayam & bebek' 'Pizza & pasta' 'Bakmie'
 'Aneka nasi/Bakmie/Barat' 'Aneka nasi/Ayam & bebek/Barat'
 'Aneka nasi/Chinese/Jepang/Cepat saji'
 'Jepang/Cepat saji/Aneka nasi/Chinese' 'Kopi/Barat'
 'Ayam & bebek/Jajanan/Minuman' 'Minuman' 'Kopi' 'Sate/Chinese/Aneka nasi'
 'Jepang/Aneka nasi' 'Cepat saji/Jepang' 'Jajanan/Roti' 'Roti/Jajanan'
 'Sweets/Barat/Minuman' 'Korea' 'Bakmie/Cepat saji/Jepang'
 'Ayam & bebek/Seafood/Aneka nasi' 'Cepat saji/Barat/Jajanan'
 'Jajanan/Barat' 'Cepat saji' 'Ayam & bebek/Jajanan/Kopi'
 'Cepat saji/Minuman/Timur Tengah' 'Minuman/Timur Tengah/Cepat saji'
 'Minuman/Kopi' 'Roti/Sweets' 'Minuman/Aneka nasi'
 'Barat/Jajanan/Ayam & bebek' 'Kopi/Jajanan' 'Kopi/Roti'
 'Aneka nasi/Kopi/Minuman' 'Jajanan/Aneka nasi/Minuman/Jepang'
 'Jepang/Jajanan/Aneka nasi/Minuman' 'Aneka nasi/Minuman/Jepang/Jajanan'
 'Minuman/Jepang/Jajanan/Aneka nasi' 'Aneka nasi/Jajanan/Kopi'
 'Pizza & pasta/Cepat saji' 'Jepang/Jajanan' 'Barat/Roti' 'Martabak'
 'Martabak/Roti/Sweets' 'Cepat saji/Sweets/Jajanan'
 'Sweets/Jajanan/Cepat saji' 'Minuman/Sweets/Jajanan' 'Minuman/Jajanan'
 'Minuman/Aneka nasi/Bakmie' 'Aneka nasi' 'Minuman/Sweets'
 'Kopi/Minuman/Sweets' 'Ayam & bebek/Aneka nasi/Korea'
 'Aneka nasi/Cepat saji/Jepang' 'Roti/Jepang/Kopi'
 'Cepat saji/Jajanan/Roti' 'Minuman/Roti/Kopi' 'Cepat saji/Korea/Seafood'
 'Cepat saji/Jajanan/Minuman' 'Bakso & soto'
 'Jepang/Cepat saji/Aneka nasi' 'Aneka nasi/Jepang/Cepat saji'
 'Ayam & bebek/Cepat saji/Sate' 'Ayam & bebek/Minuman/Seafood'
 'Pizza & pasta/Barat' 'Sate' 'Jajanan/Minuman/Cepat saji'
 'Kopi/Aneka nasi/Bakmie' 'Cepat saji/Korea' 'Aneka nasi/Jepang/Minuman'
 'Pizza & pasta/Jajanan/Cepat saji' 'Kopi/Roti/Minuman'
 'Roti/Minuman/Kopi' 'Jajanan/Jepang/Martabak' 'Aneka nasi/Kopi/Seafood'
 'Jajanan/Jepang' 'Jajanan/Cepat saji/Minuman'
 'Minuman/Jajanan/Cepat saji' 'Jepang/Minuman/Aneka nasi'
 'Minuman/Sweets/Kopi' 'Kopi/Minuman/Jepang' 'Kopi/Minuman/Aneka nasi'
 'Barat/Cepat saji' 'Aneka nasi/Ayam & bebek/Chinese'
 'Cepat saji/Korea/Jajanan' 'Aneka nasi/Kopi/Ayam & bebek'
 'Jepang/Seafood' 'Aneka nasi/India/Ayam & bebek'
 'Ayam & bebek/Aneka nasi/India' 'Ayam & bebek/Minuman/Aneka nasi'
 'Aneka nasi/Bakso & soto/Barat' 'Ayam & bebek/Cepat saji/Kopi'
 'Minuman/Aneka nasi/Pizza & pasta' 'Bakmie/Chinese'
 'Cepat saji/Ayam & bebek/Bakso & soto' 'Cepat saji/Roti/Bakso & soto'
 'Jajanan/Bakso & soto/Bakmie' 'Cepat saji/Seafood' 'Minuman/Roti'
 'Jajanan/Sweets/Roti' 'Cepat saji/Roti/Jajanan'
 'Barat/Cepat saji/Ayam & bebek' 'Barat/Cepat saji/Roti'
 'Cepat saji/Aneka nasi/Jajanan/Ayam & bebek' 'Pizza & pasta/Aneka nasi'
 'Aneka nasi/Pizza & pasta' 'Jajanan/Pizza & pasta/Cepat saji'
 'Minuman/Kopi/Sweets' 'Ayam & bebek/Cepat saji/Aneka nasi'
 'Cepat saji/Aneka nasi/Ayam & bebek' 'Ayam & bebek/Aneka nasi'
 'Cepat saji/Roti/Kopi' 'Aneka nasi/Kopi' 'Jajanan/Minuman/Ayam & bebek'
 'Aneka nasi/Kopi/Roti' 'Roti/Aneka nasi/Kopi' 'Korea/Cepat saji/Jajanan'
 'Jajanan/Roti/Kopi' 'Cepat saji/Minuman/Kopi'
 'Ayam & bebek/Aneka nasi/Minuman' 'Roti/Aneka nasi/India'
 'Jajanan/Cepat saji/Chinese' 'Ayam & bebek/Minuman'
 'Minuman/Ayam & bebek' 'Aneka nasi/Jajanan/Jepang' 'Cepat saji/Jajanan'
 'Ayam & bebek/Chinese/Seafood' 'Ayam & bebek/Kopi/Jajanan'
 'Minuman/Kopi/Barat' 'Kopi/Barat/Minuman' 'Seafood'
 'Kopi/Seafood/Minuman' 'Minuman/Barat/Aneka nasi'
 'Minuman/Aneka nasi/Roti' 'Minuman/Aneka nasi/Jajanan'
 'Jajanan/Roti/Sweets' 'Minuman/Kopi/Aneka nasi'
 'Bakso & soto/Ayam & bebek/Aneka nasi' 'Aneka nasi/Jajanan/Minuman'

### Delete duplicate

In [ ]:
# cek data duplikat
df2.duplicated().sum()

5547

In [ ]:
df2.drop_duplicates(inplace=True)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39648 entries, 0 to 45194
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   39648 non-null  object
 1   merchant_area   39648 non-null  object
 2   category        39648 non-null  object
 3   display         39648 non-null  object
 4   product         39648 non-null  object
 5   price           39648 non-null  float64
 6   discount_price  39648 non-null  float64
 7   isDiscount      39648 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 2.7+ MB

## Detect Outliers

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df2)}')

filtered_entries = np.array([True] * len(df2))
for col in num_cols:
    Q1 = df2[col].quantile(0.25)
    Q3 = df2[col].quantile(0.75)
    IQR = Q3 - Q1
    low_limit = Q1 - (IQR * 1.5)
    high_limit = Q3 + (IQR * 1.5)

    filtered_entries = ((df2[col] >= low_limit) & (df2[col] <= high_limit)) & filtered_entries
    
df2 = df2[filtered_entries]

print(f'Jumlah baris setelah memfilter outlier: {len(df2)}')

Jumlah baris sebelum memfilter outlier: 39648
Jumlah baris setelah memfilter outlier: 33643